.inTab-Field {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 0;
}

.page-footer .footer-copyright p {
  margin: 0;
  padding: 0;
}

.page-footer.dark .footer-copyright p {
  color: black;
}
.page-footer.dark {
  background-color: rgba(0, 0, 0, 0);
}
.tab-icon {
  height: 30px;
  width: 30px;
  margin: 0;
}

.nav-link {
  margin: 0;
  padding: 0;
}
.nav-item {
  width: 33%;
}

footer,
.footer-copyright {
  z-index: 79;
}

.card-body{
  padding: 4px;
}

.Detailed-Data-modal{
  height: 93vh;
  width: 100%;
}